body {
  font-family: Verdana, Geneva, sans-serif;
  font-size: 14px;
  margin-right: 85px;
  margin-left: 85px;
}

a {
  color: #000000;
  text-decoration: none;
}

cite {
  font-size: 10px;
  text-decoration: none;
  color: #868285;
  font-weight: normal;
  font-style: normal;
}

span {
  font-size: 8px;
  color: #868285;
  margin-left: 15px;
}

ol {
  color: #868285;
}

ul {
  margin-top: 0;
  padding-left: 3px;
  padding-bottom: 0;
}

.navigation-container {
  background-color: #ff6600;
}

.main-container {
  background-color: #f6f6ef;
}

.footer {
  background-color: #f6f6ef;
  border-top: 1px solid #ff6600;
  margin: 0;
}

.nav {
  margin-bottom: 0;
  display: flex;
  align-items: center;
}

.nav ul {
  float: left;
}

.login {
  align-items: center;
  margin-left: auto;
}

.news {
  margin-top: 0;
}

.news-title {
  color: #000000;
  margin-top: 8px;
  margin-bottom: 0;
  font-size: 10pt;
  font-weight: lighter;
}

.news-title-1 {
  margin-bottom: 0;
  font-size: 10pt;
  font-weight: lighter;
  margin-top: 0;
  padding-top: 8px;
}

.footer li {
  display: inline-block;
  list-style: none;
  text-decoration: none;
}

.footer ul {
  padding-top: 20px;
  text-align: center;
  font-size: 8pt;
}

.footer form {
  color: #868285;
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 10pt;
  text-align: center;
}

.main-container ol {
  padding-bottom: 20px;
  margin: 0;
}

.main-container li[type="More"] {
  list-style: none;
  text-decoration: none;
  margin-top: 10px;
  margin-left: 15px;
}

.nav h1 {
  display: inline;
  font-size: 10pt;
  font-weight: bold;
}

.nav li {
  display: inline;
  list-style: none;
  text-decoration: none;
  padding: 5px;
}
